// app global css in SCSS form

.custom-scroll-bar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}
