// app global css in SCSS form

.custom-scroll-bar {
  &::-webkit-scrollbar {
    width: 1px;
    height: 3px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}
